<script type="text/x-template" id="template-scanPassport-main">
    <div class="container" :style="[cultureFontStyle]">
        <div class="col-xs-12">
            <div class="text-title text-mid mgT30">{{wording.scanPassportTitle}}</div>
        </div>
        <!-- <div class="logoImg4 text-title2" @click.stop.prevent="" @mousedown="handleMouseDown(wording.toError)">

            {{wording.scanError}}
        </div> -->
        <div class="logoImg4 text-title4">
            <div v-html="infoData"></div>
        </div>
        <!-- <img class="imgPassportSample" src="img/passport_sample.jpg" @click.stop.prevent="" @mousedown="handleMouseDown(wording.toPreScanQR)"> -->
        <img class="imgPassportSample" src="img/passport_sample.jpg" @click.stop.prevent="">
        <!-- <img class="imgPassportSample" src="img/passport_sample.jpg" @click.stop.prevent=""> -->
  </div>
</script>
