<script type="text/x-template" id="template-scanPassport-main">
    <div class="container">
        <div class="col-xs-12">
            <div class="text-title text-mid mgT30">{{wording.scanPassportTitle}}</div>
        </div>
        <div class="logoImg4 text-title2" @click.stop.prevent="" @mousedown="handleMouseDown(wording.toError)">
          
            {{wording.scanError}}
        </div>
        <img class="imgPassportSample" src="img/passport_sample.jpg" @click.stop.prevent="" @mousedown="handleMouseDown(wording.toPreScanQR)">
    </div>
</script>