<script type="text/x-template" id="template-error-main">
    <div class="container">
        <img class="imgAlert" src="img/alert.png">
        <div class="col-xs-12">
            <div class="text-subTitle text-mid mgT30">{{wording.errorTitle}}</div>
            <div class="text-subTitle text-mid mgT30">{{wording.errorTitle2}}</div>
        </div>

        <div class="logoImg5 text-subTitle" @click.stop.prevent="" @mousedown="goHome">
                <img class="imgHome" src="img/home.svg">{{wording.toHomeText}}
            </div>
        
    </div>
</script>