<script type="text/x-template" id="template-success-main">
  <div class="container" :style="[cultureFontStyle]">
      <img class="imgPrinter" src="img/printer4.png">
      <div class="col-xs-12">
          <div class="text-subTitle text-mid mgT30">{{wording.successTitle1}}</div>
          <div class="text-subTitle text-mid mgT10">{{wording.successTitle2}}</div>
          <div class="text-subTitle text-mid mgT10">{{wording.successTitle3}}</div>
          <div class="text-subTitle text-mid mgT10">{{wording.successTitle4}}</div>
      </div>
      <div class="logoImg5-2 text-subTitle" @click.stop.prevent="" @mousedown="goHome" style="position: relative;">
          <img class="imgHome" src="img/home.svg" :style="[{position: 'absolute', left: '20px', top: '35px'}]">
          <div :style="[btnFontSize]" v-html="wording.toHomeText"></div>
      </div>
  </div>
</script>
