<script type="text/x-template" id="template-preScanQRcode-main">
  <div class="container" :style="[cultureFontStyle]">
      <div class="col-xs-12">
          <div class="text-title text-mid mgT30" :style="[titleFontSize]">{{wording.preScanQRcodeTitle}}</div>
      </div>
      <img class="imgPassportSample" src="img/qr.jpg">
      <div class="seven-cols col-xs-3 mgBtLeft2">
          <div @click.stop.prevent="" @mousedown="handleMouseDown(wording.toScanQR)" class="logoImg6">
              <b v-bind:style="{color:item.color}" class="text-subTitle2-2" > {{wording.btScanQRcode}} </b>
          </div>
      </div>
  </div>
</script>
