<!--列印頁-->
<script type="text/x-template" id="template-print-main">
    <div class="container">
        <div class="thankyoubox text-center">
            <br>
            <h1 class="lead">{{wording.thankyou}}</h1>
            <p class="lead">{{wording.main}}</p>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2"><img src="img/printing.gif"></div>
                <div class="col-xs-4"><img src="img/cashier.png"></div>
            </div>
        </div>
    </div>
</script>